
header {

    nav {
        position: relative;
        z-index: 10;

        /*
        // Menu Button
        .menu-btn {
            display: none;
            position: fixed;
            z-index: 10;
            right: 20px;
            bottom: 10px;
            cursor: pointer;
            transition: 0.3s all ease-out;

            .btn-line {
                width: 35px;
                height: 3px;
                margin: 0 0 5px 0;
                background: $dark-color;
                transition: 0.3s all ease-out;
            }

            // Rotate Into X With Menu Lines

            &.close {
                display: none;
                /*
                transform: rotate(180deg) translate(0, 0px);

                .btn-line {
                    // Line 1 -Rotate
                    &:nth-child(1) {
                        transform: rotate(45deg) translate(5px, 5px);
                    }

                    // Line 2 - hidden
                    &:nth-child(2) {
                        opacity: 0;
                    }

                    // Line 3 - Rotate
                    &:nth-child(3) {
                        transform: rotate(-45deg) translate(7px, -6px);
                    }
                }
            }
        }
        */

        #call {
            display: none;
        }

        .active {
            background: rgba($dark-color, 0.1);
        }

        .pusher {
            display: none;
        }

        .left-nav {
            position: fixed;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            width: 70px;
            height: auto;
            padding-top: 35px;

            a {
                padding: 15px;

                &:hover {
                    background: rgba($dark-color, 0.05);
                }
            }
        }

        .right-nav {
            position: fixed;
            bottom: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            width: 70px;
            height: auto;
            padding-bottom: 35px;

            a {
                padding: 15px;

                &:hover {
                    background: rgba($dark-color, 0.05);
                }
            }
        }
    }
}

@media (max-width: 767.98px) {
    header {

        nav {
            .menu-btn {
                background: rgb(237, 242, 250);
                border-radius: 3px;
                display: block;
                padding: 15px 10px 10px 10px;
            }

            #call {
                display: block;
                opacity: 0;
                position: fixed;
                bottom: -100px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 10;
                background: rgb(242, 242, 246);
                border-radius: 50%;
                transition: 0.5s all ease-out;

                svg {

                    path {
                        fill: $icon-color;
                    }
                }

                &.show {
                    opacity: 1;
                    bottom: 35px;
                    transition: 0.5s bottom ease-out;
                }
            }



            .left-nav {
                background: linear-gradient(90.75deg,#faf4f0 0,#ebf1fc 100%);
                z-index: 5;
                top: auto;
                left: auto;
                bottom: 0;
                right: 0;
                //display: inline-block;
                flex-direction: row;
                justify-content: center;
                width: 100vw;
                height: 70px;
                padding-top: 0;
                //padding-left: 60px;
                //padding-right: 60px;
                transform: translate3d(0, 70px, 0);
                transition: 0.3s transform ease-out;

                .pusher {
                    display: block;
                    width: 150px;
                }

                a {

                }

                &.show {
                    transform: translate3d(0, 0, 0);
                    transition: 0.3s transform ease-out;
                }
            }

            .right-nav {
                display: none;
            }
        }
    }
}
