// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    body {
        &::-webkit-scrollbar {
            display: none;
        }

        //hide some text in mobile screen
        .bla-bla {
            display: none;
        }

        main {
            
            ///CSS for HEAD PAGE///
            &.head {

                &.main-height {
                    overflow: scroll;
                    height: 100%;

                    &::-webkit-scrollbar {
                        display: none;
                    }
                }

                #top {

                    .top-container {
                        #logo {
                            font-size: 10vw;
                        }
                    }

                    &.upMe {
                        height: 20vh;
                        padding: 0;

                        .icons {
                            opacity: 0;
                            transition: 1s opacity ease-out;
                        }

                        h5 {
                            bottom: 0;
                            font-size: 1.5vh;
                            transition: 1s all ease-out;
                        }
                    }
                }

                #select {
                    .select {
                        flex-direction: column;
                        height: 100%;

                        a {
                            height: 22vh;
                            margin: 5px 0;

                            .sel-bg {
                                img {
                                    max-width: 100%;
                                }
                            }
                        }
                    }
                }
            }
            ///END of CSS for HEAD PAGE///

            #top {
                padding: 0 0 70px 0;
            }

            #about {
                padding: 10px;

                h1 {
                    padding-bottom: 20px;
                    padding-right: 20px;
                    font-size: 50px;
                }


                .bio-content {
                    display: block;
                    padding: 0 30px;

                    .bio-image {
                        display: none;
                    }

                    .bio {
                        width: 100%;
                    }
                }

                .about-botom {
                    position: relative;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
            }

            #price {
                width: 100%;
                padding: 10px;

                h1 {
                    padding-bottom: 20px;
                    padding-right: 20px;
                    font-size: 50px;
                }

                .price-list {
                    max-height: 90vh;
                    position: relative;
                    padding: 0;

                    table {

                        thead {

                            tr {

                                th {
                                    min-width: 14vw;

                                    &.sticky-header {
                                        position: -webkit-sticky;
                                        position: -moz-sticky;
                                        position: -ms-sticky;
                                        position: -o-sticky;
                                        position: sticky;
                                        top: 0;

                                        &.naming {
                                            min-width: 80vw;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            #categories {
                padding: 10px;

                h1 {
                    text-align: right;
                    font-size: 6vw;
                }
            }

            .wraper {
                width: 100%;
                padding: 0 10px;

                .more-info {
                    padding: 0 20px;

                    .waranty {
                        margin: 50px 0;
                        padding: 20px;
                    }
                }

                #impo-info {
                    display: block;
                    padding: 50px 0;

                    .center {
                        .list {
                            width: 90%;
                        }
                    }
                }
            }

            #contact {
                .wraper {
                    padding: 10px;

                    .contact-info {
                        max-width: 30vh;
                    }
                }
            }
        }
    }
}
// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {}
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}
// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
