
@import 'config';
@import 'menu';

.BRIGHT {
    border: 1px solid $bright-color;
}

.RED {
    border: 1px solid red;
}

.GREEN {
    border: 2px solid green;
}

.BLUE {
    border: 1px solid blue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Roboto', 'Ubuntu', 'Helvetica', sans-serif;
    font-size: 16px;
    color: $dark-color;
    background: green;
    height: 100%;
    min-height: 100vh;

    .smooth-scroll-center, .smooth-scroll-center-2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        visibility: 0;
        z-index: -1;
    }

    svg {
        path {
            fill: $icon-color;
        }
    }

    main {
        min-height: calc(100vh - 4vh);
        background: linear-gradient(90.75deg,#faf4f0 0,#ebf1fc 100%);
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: $dark-color;
        letter-spacing: 1px;

        ///CSS for HEAD PAGE///

        &.head {
            height: calc(100vh - 4vh);
            overflow: hidden;

            #bg-img {
                height: 100vh;
                top: 0;
                left: 0;
                overflow: hidden;

                &:after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: rgba($dark-color, 0.6);
                    z-index: 1;
                }

                img {
                    position: inherit;
                    min-width: 100%;
                    height: 100%;
                    object-fit: cover;
                    z-index: 0;
                }
            }

            #top {
                height: 100vh;
                z-index: 2;
                transition: 1s all ease-out;

                &:hover {
                    cursor: pointer;
                }

                &.upMe {
                    height: 40vh;
                }

                span {
                    color: $bright-color;
                }

                .top-container {

                    #logo {
                        border: 3px solid #fff;
                        border-radius: 5px;
                        font-size: 80px;
                        letter-spacing: 1vw;

                        h1 {
                            box-sizing: border-box;
                            font-size: 1em;
                            letter-spacing: 0.05em;
                            color: #fff;
                            line-height: 1;
                        }

                        p {
                            color: #fff;
                            font-size: 0.2em;
                            letter-spacing: 1em;
                            line-height: 1;
                        }
                    }

                    .icons {
                        margin-top: 1vh;
                        opacity: 1;
                        transition: 1s opacity ease-out;

                        a {
                            color: #fff;
                            margin: 0 1vw;
                            transition: 0.5s color ease-out;

                            &:hover {
                                color: $bright-color;
                                transition: 0.5s color ease-out;
                            }
                        }
                    }
                }

                h5 {
                    bottom: 3vh;
                    font-size: 2.5vh;
                    transition: 1s all ease-out;
                }
            }

            #select {
                z-index: 2;
                //background: rgba(255, 255, 255, 0.7);
                .select {
                    height: 56vh;

                    a {
                        text-decoration: none;
                        height: 95%;
                        margin: auto;
                        width: 100%;
                        height: 100%;
                        position: relative;
                        color: #fff;
                        border-radius: 3px;
                        //overflow: hidden;
                        border: 1px solid #fff;
                        box-sizing: border-box;

                        .sel-info {
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            background: rgba($dark-color, 0.7);
                            z-index: 3;
                            opacity: 0.9;
                            transition: 1s opacity ease-out;

                            &:hover {
                                opacity: 0;
                                transition: 1s opacity ease-out;
                            }

                            h2 {
                                font-weight: bold;
                                letter-spacing: 7px;
                                color: $bright-color;
                                font-size: 5vw;
                            }

                            p {
                                letter-spacing: 2px;
                                padding: 0 10%;
                            }

                            svg {

                                path {
                                    fill: #fff;
                                }
                            }
                        }

                        .sel-bg {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            position: relative;
                            align-items: center;
                            justify-content: center;
                            padding: 0;
                            overflow: hidden;

                            img {
                                position: relative;
                                top: 0;
                                right: 0;

                                /*&.skiing-image {
                                    //transform: scale(0.8);
                                    //display: none;
                                }

                                &.camping-image {
                                    position: absolute;
                                    transform: scale(0.8);
                                    right: -300px;
                                    top: -130px;
                                    object-fit: cover;
                                    display: none;
                                }

                                &.fishing-image {
                                    position: absolute;
                                    transform: scale(0.8);
                                    right: -350px;
                                    top: -250px;
                                    //display: none;
                                }*/
                            }
                        }
                    }
                }
            }
        }
        ///END of CSS for HEAD PAGE///

        #top {
            width: 100%;
            height: 100vh;
            padding: 70px;
            margin: 0;

            .top-section {
                width: 100%;
                height: 100%;
                position: relative;
                margin: auto;

                .section-info {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 2;
                    color: #fff;
                    padding: 10px;
                    text-align: center;
                    background: rgba($dark-color, 0.7);

                    svg {
                        path {
                            fill: #fff;
                        }
                    }

                    h2 {
                        font-weight: bold;
                        letter-spacing: 7px;
                        color: $bright-color;
                        font-size: 5vw;
                    }

                    p {
                        letter-spacing: 2px;
                        padding: 0 10%;
                        margin: 0;
                    }
                }

                .section-bg {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    position: relative;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;

                    .hold-image {
                        margin: auto;
                        position: absolute;
                        min-height: 100%;
                        min-width: 100%;

                        &.camping-opacity-bg {
                            opacity: 0.9;
                        }

                        &.fishing-opacity-bg {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }

        #about {
            position: relative;
            width: 100%;
            padding: 70px;
            margin: auto;
            min-height: 100vh;
            text-align: justify;
            line-height: 2;
            background: #fff;

            h1 {
                text-align: right;
                width: 100%;
                padding-bottom: 50px;
                font-weight: lighter;
                font-size: 70px;
            }

            .bio-content {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .bio-image {
                    display: flex;
                    flex-direction: column;
                    width: 45%;
                    justify-content: center;
                    height: auto;

                    img {
                        width: 100%;
                    }
                }

                .bio {
                    padding: 20px 10px;
                    width: 50%;
                    align-items: center;
                    border-top: 1px solid $dark-color;
                }
            }

            .more-bio {
                display: none;
            }

            .about-botom {
                position: absolute;
                bottom: 10px;
                left: 70px;
                right: 70px;
                background: rgba($dark-color, 0.7);
                color: #fff;
                text-align: center;
                text-transform: uppercase;
                font-weight: lighter;
                border-radius: 3px;

                span {
                    font-weight: bold;
                    font-size: 20px;
                    color: $bright-color;
                }
            }
        }

        #price {
            width: 100%;
            padding: 70px;
            margin: auto;
            min-height: 100vh;
            position: relative;

            h1 {
                text-align: right;
                width: 100%;
                padding-bottom: 50px;
                font-weight: lighter;
                font-size: 70px;
            }

            .price-list {
                border-left: 2px solid $bright-color;
                margin: 30px 0;
                padding: 10px;
                max-width: 100%;
                overflow: auto;

                table {

                    thead {
                        color: #fff;
                        font-size: 20px;
                        font-weight: bold;

                        th {
                            background: rgba($dark-color, 0.9);
                            text-align: center;

                            &.naming {
                                text-align: left;
                            }
                        }
                    }

                    tbody {

                        tr {

                            td {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }

        //START of config for skicat page//

        #categories {
            padding: 70px 70px;
            margin-bottom: 50px;

            hr {
                margin: 50px 0;
            }

            h1 {
                font-weight: normal;
                margin-bottom: 50px;
                //background: rgba($bright-color, 0.5);
                border-bottom: 3px solid $bright-color;
                text-align: right;
                padding: 20px;
                letter-spacing: 2px;
            }

            h3 {
                margin: 30px auto;
                font-weight: lighter;
                padding: 10px;
                color: #fff;
                background: rgba($dark-color, 0.5);
                border-radius: 3px;
            }

            p {
                padding: 30px;
                line-height: 1.7;
                text-align: justify;
            }

            .foto-div {
                background: #fff;
                border-radius: 3px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                justify-content: space-between;
                padding: 20px;

                .foto {
                    margin: auto;

                    img {
                        max-width: 300px;
                        max-height: 300px;
                    }
                }
            }
        }

        //END of config for skicat page//

        .wraper {
            width: calc(100% - 140px);
            margin: auto;

            .more-info {
                text-align: justify;
                line-height: 1.7;

                .price-category {

                    h3 {
                        margin: 30px auto;
                        font-weight: lighter;
                        padding: 10px;
                        color: #fff;
                        background: rgba($dark-color, 0.5);
                        border-radius: 3px;
                    }

                    p {
                        padding: 30px 0;
                        border-bottom: 1px dashed $dark-color;
                        text-align: justify;

                        span {
                            font-weight: bolder;

                            &.bla-bla {
                                font-weight: normal;
                            }
                        }
                    }

                    a {
                        text-decoration: none;
                        text-transform: uppercase;
                        text-align: center;
                        display: inline-block;
                        margin: 0 auto;
                        background: rgba($dark-color, 0.7);
                        border: 1px solid rgba($dark-color, 0.3);
                        border-radius: 3px;
                        padding: 5px;
                        color: #fff;
                        transition: 0.3s all ease-out;

                        &:hover {
                            background: rgba($dark-color, 0.5);
                            transition: 0.3s all ease-out;
                        }

                        span {
                            color: $bright-color;
                        }
                    }
                }

                .waranty {
                    font-weight: lighter;
                    background: rgba($dark-color, 0.7);
                    color: #fff;
                    text-align: center;
                    border-radius: 3px;
                    margin: 50px 0;
                    padding: 20px;
                }
            }

            #impo-info {
                min-height: 100vh;
                display: flex;
                justify-content: center;

                .center {
                    margin: auto;

                    h3 {
                        text-align: center;
                    }

                    .book {
                        margin: 50px auto;
                    }

                    .list {
                        width: 70%;
                        margin: auto;
                        text-align: justify;

                        div {
                            margin: 30px auto;
                        }
                    }
                }
            }
        }

        #contact {
            min-height: calc(100vh - 4vh);
            background: #fff;
            position: relative;

            .wraper {
                width: 100%;
                padding: 70px;
                margin: auto;
                min-height: calc(100vh - 4vh);


                .contact-info {
                    width: 100%;
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    max-width: 300px;
                    margin: auto;

                    .info {

                        span {
                            color: $bright-color;
                        }

                        p {
                            font-weight: lighter;
                        }

                        h2 {
                            font-size: 50px;
                        }

                        a {
                            color: $bright-color;
                            padding: 5px 7px;
                            background: $dark-color;
                            border-radius: 3px;

                            &:hover {
                                text-decoration: none;
                                color: #fff;
                            }
                        }
                    }
                }

                .mapouter {
                    text-align: right;
                }

                .gmap_canvas {
                    overflow: hidden;
                    background: none !important;
                    height: 100%;
                }
            }
        }
    }

    footer {
        height: 4vh;
        color: #fff;
        letter-spacing: 1px;
        font-weight: lighter;
        font-size: 13px;
        background: rgba($dark-color, 0.5);

        &.head {
            position: fixed;
            left: 0;
            bottom: 0;
        }

        p {
            padding: 0 15px;
        }
    }
}

@import 'mobile';
